*{
    margin:0;
    padding: 0;
}
body{
    min-width: 100%;
    min-height: 100vh;
}
.mainCard{
    padding: 1%;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    font-size: 15px;
    box-sizing: border-box;
    padding: 2%;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    background-color:burlywood;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
}
.cartaVerde{
    background-color: rgb(34, 204, 139);
    color:white
}
.cartaBlanca{
    background-color: rgb(245, 249, 252);
}
.cartaDorada{
    background-color: gold;
    color: white;
}
.card>div:first-child{
    /* background-color: blue; */
    grid-column: 7/11;
    grid-row: 1/5;
}
.card>div:nth-of-type(2){
    /* background-color: rgb(7, 7, 143); */
    grid-column: 1/7;
    grid-row: 3/4;
}
.card>div:nth-of-type(3){
   /*  background-color: rgb(62, 62, 243); */
    grid-column: 1/6;
    grid-row: 5/5;
}
.card>div:nth-of-type(4){
    /* background-color: rgb(40, 40, 121); */
    grid-column: 4/6;
    grid-row: 5/5;
}
.card>div:nth-of-type(5){
    /* background-color: rgb(0, 0, 202); */
    grid-column: 1/7;
    grid-row: 6/6;
}
.textoNegro{
    color:black

}
.textoBlanco{
    color: white;

}


