*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:bisque ;
}
.linea{
    position: absolute;
    z-index: -2;
    height: 50px;
    width: 0%;
    background-color: blue ;
    transition: width 0.3s ease-in-out;

}
.pasitos{
    overflow: hidden;
    position: relative;
    z-index: -1;
    width: 45%;
    height: 5px;
    background-color:gray;
    display: flex;
    margin-top: 5px;
    gap:75px;
    align-items: center;
    justify-content: space-between;
}
.pasitos2{
    position: absolute;
    top: 48.5vh;
    z-index: 1;
    width: 45.6%;
    height: 10px;
    display: flex;
    gap:75px;
    align-items: center;
    justify-content: space-between;
}
.bolita{
    z-index: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 3px solid gray;
    border-radius: 50%;
}
.bolita1{
    transition: all 0.3s ease-in-out;
    border-color: blue;
}
.bolita2{
    transition: all 0.3s ease-in-out;
    border-color: gray;
}
.bolita3{
    transition: all 0.3s ease-in-out;
    border-color:gray;
}
.bolita4{
    transition: all 0.3s ease-in-out;
    border-color: gray;
}
.bolita>p{
    font-family: sans-serif;
    color: gray;
    margin: 0 auto;
    padding-left: 10px;
    padding-top: 5px;
}
.botones{
    position: relative;
    top: 70px;
}


.width30{
    transition: width 0.3s ease-in-out;
    width: 35%;
}
.width70{
    transition: width 0.3s ease-in-out;
    width: 65%;
}
.width100{
    transition: width 0.3s ease-in-out;
    width: 100%;
}
.bolitaAzul{
    border-color:blue ;
}

