
*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
.titulo-item-a{
    width: 100%;
}
.titulo-item-a>h2{
    text-align: center;
}
.caja-input-item-b{
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
    border:solid black 2px;
    border-radius: 20px;
    padding: 2.5%;
}
.caja-input-item-b>div{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.caja-input-item-b>div>div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5%;
}
.caja-input-item-b>div>div:last-child{
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.caja-input-item-b>div>div:last-child>button{
    width: 100px;
    height: 25px;
}
#añadirLista{
    color: white;
    text-shadow: black 3px 3px 2px;
    font-size: 15px;
    border-radius: 5px;
    border: #00FF00;
    background-color: #00FF00;
}
#resetearLista{
    color: white;
    text-shadow: black 3px 3px 2px;
    font-size: 15px;
    border-radius: 5px;
    border: red;
    background-color: red;
}
.lista-item-c{
   margin-left: 10%;
}
.lista-item-c>ul{
    
}
.lista-item-c>ul>li{
    margin: 1%;
}
.lista-item-c>ul>li>div{
    display: flex;
    flex-wrap: nowrap;
}
.lista-item-c>ul>li>div>button{
    width: 10%;
    margin-left: 10px;
    color: white;
    text-shadow: black 3px 3px 2px;
    font-size: 15px;
    border-radius: 5px;
    border: red;
    background-color: red;

}

