*{
    margin: 0;
    padding: 0;   
    font-family: sans-serif;
}
body{
    background-color: #0D1117;
    font-weight: bold;
    color:white;
}
p{
    font-size: 25px;
}
.contenedorPrincipal{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    text-align: center;
    margin-bottom: 40px;
}
header>h2{
    text-decoration: underline;
    font-size: 30px;
    margin-bottom:10px;
    margin-top: 20px;
}
.images1>p{
    margin-right:20px;
    text-align: center;
}
.foto1{
    background-image: url(/class21nov/galeria_de_imagenes/assets/images/gallery_photo_1.avif);
    background-size:250px 350px; 
    background-repeat: no-repeat;
    height: 350px;
    width: 250px;
    border-radius: 4px;
    margin: 10px 20px 10px 0;
}
.images1>div:nth-of-type(2){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;

}
.images1>div:nth-of-type(2)>p{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.price{
    margin-left: 100px;
}
.button{
    padding: 2px 8px;
    color:#3FD75F;
    background-color: #0D1117;
    border: 2px solid #3FD75F;
    border-radius: 4px;
}
.images2>p{
    margin-right:20px;
    text-align: center;
}
.foto2{
    background-image: url(/class21nov/galeria_de_imagenes/assets/images/gallery_photo_2.avif);
    background-position: bottom 480px left 400px;
    height: 350px;
    width: 250px;
    border-radius: 4px;
    margin: 10px 20px 10px 0;
}
.images2>div:nth-of-type(2){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 10px;
}

.images2>div:nth-of-type(2)>p{
    font-size: 20px;
    font-weight: lighter;
}
.images3>p{
    margin-right:20px;
    text-align: center;
}
.foto3{
    background-image: url(/class21nov/galeria_de_imagenes/assets/images/gallery_photo_3.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% ;
    height: 350px;
    width: 250px;
    border-radius: 4px;
    margin: 10px 20px 10px 0;
}
.images3>div:nth-of-type(2){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 10px;
}
.images3>div:nth-of-type(2)>p{
    font-size: 20px;
    font-weight: lighter;
}
.images4>p{
    margin-right:20px;
    text-align: center;
}
.foto4{
    background-image: url(/class21nov/galeria_de_imagenes/assets/images/gallery_photo_4.avif);
    background-size:50% ;
    background-repeat: repeat;
    height: 350px;
    width: 250px;
    border-radius: 4px;
    margin: 10px 20px 10px 0;
}
.images4>div:nth-of-type(2){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}
.images4>div:nth-of-type(2)>p{
    font-size: 20px;
    font-weight: lighter;
}
.images5>p{
    margin-right:20px;
    text-align: center;
}
.foto5{
    background-image:url(/class21nov/galeria_de_imagenes/assets/images/gallery_photo_5.avif) ;
    background-position: 95% 100%;
    height: 350px;
    width: 250px;
    border-radius: 4px;
    margin: 10px 20px 10px 0;
}
.images5>div:nth-of-type(2){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}
.images5>div:nth-of-type(2)>p{
    font-size: 20px;
    font-weight: lighter;
}
.images6>p{
    margin-right:20px;
    text-align: center;
}
.foto6{
    background-image: url(/class21nov/galeria_de_imagenes/assets/images/gallery_photo_6.avif);
    background-size: 250px 350px;
    background-repeat: no-repeat;
    height: 350px;
    width: 250px;
    border-radius: 4px;
    margin: 10px 20px 10px 0;
}
.images6>div:nth-of-type(2){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 10px;
}
.images6>div:nth-of-type(2)>p{
    font-size: 20px;
    font-weight: lighter;
}